html {
    background-color: lightgoldenrodyellow;
}

body {
    margin:0;
    padding:0;
    height:100%;
    padding-bottom: 50px;
}

#container {
    height:100%;
}

#header {
    background-color: darkgreen;
    color:white;
    text-align:center;
    font-family: Helvetica, sans-serif;
}

#navigation ul {
    background-color: green;
    list-style-type: none;
    margin-top: 10px;
    padding: 10px;
}

#navigation li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

#navigation a {
    text-decoration: none;
    color: white;
}

#header>* {
    padding:0px;
    margin:0px;
}

#footer {
    position:fixed;
    bottom:0;
    width:100%;
    height:40px;
    background-color: green;
    text-align: center;
    color: white;
    margin-top: 40px;
}